#User Credentials
USER_EMAIL=your_email@test.com
USER_PASSWORD=Test@Password

#Android Config
ANDROID_AUTOMATION_NAME=UIAutomator2
ANDROID_PLATFORM_NAME=Android
ANDROID_DEVICENAME=YourDeviceID
ANDROID_ACTIVITY=com.reflectlyApp.MainActivity
ANDROID_APPPACKAGE=com.reflectlyApp
ANDROID_PLATFORM_VERSION=

APPIUM_URL=http://127.0.0.1:4723/wd/hub
